*{
    text-decoration: none;
    text-align: center;
    margin: 0%;
}
header{
    background-color: rgb(36, 36, 36);
    padding: 1%;
}
body{
    background-color: rgb(87, 78, 78);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    padding: 1%;
}
h1{
    padding: 1%;
}
a{
    color: orange;
    padding: 1%;
}
a:hover{
    background-color: rgb(36, 36, 36);
}