*{
    margin: 0%;
}
body {
    background-color: rgb(68, 57, 57);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
       
}
header {
    font-size: larger;
    background-color: black;
    padding: 2%;
    
}
h1 {
    font-size: medium;
    padding: 1%;
}
p {
    padding: 1%;
}