*{
    margin: 0%;
}
body {
    background-color: #FFDAC6;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
       
}
header {
    font-size: larger;
    background-color: #716209;
    padding: 2%;
    color: #BABD8D;
    
}
h1 {
    font-size: medium;
    padding: 1%;
    color: #716209;
}
p {
    padding: 1%;
    
}